{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 150,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@/core/operators/(.*)$", "^@/(.*)$", "^[./]", "^node:(.*)$", "<THIRD_PARTY_MODULES>"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
